<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function  postVal(){
            var formdata = new FormData()
            customername = document.getElementById("customername").value
            customeremail = document.getElementById("customeremail").value
            data = JSON.stringify({
                "customername": customername,
                "customeremail": customeremail
            })
            //formdata.append(u.name, u.value)
            //formdata.append(e.name, e.value)
            var xhr = new XMLHttpRequest()
            
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText)
                }
            }
            xhr.open("post","/addcustomer")
            xhr.setRequestHeader("Content-Type","application/json")
            xhr.setRequestHeader("Accept","application/json")
            xhr.send(data)
        }
    </script>
</head>
<body>
    <form action="/addcustomer" method="post">
        <p>Name: <input type="text" name="customername" id="customername"></p>
        <p>Email: <input type="text" name="customeremail" id="customeremail"></p>
        <p> <input type="button" value="submit" onclick="postVal()"> </p>
    </form>
</body>
</html>
