<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Welcome to flask application</h1>
     <form action="showMessage" method="post">
    <p>Name of playbook: <input type="text" name="playbook" id="playbook"></p>
    <p>Sudo password: <input type="password" name="password" id="password"></p>
    <input type="submit" value="submit">
   </form>
</body>
</html>
